<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mockup</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <h3>
            <a href="/messages"><strong>MessageBoard</strong></a>
          </h3>
        </li>
      </ul>
      <% if (user && user.admin === true) { %>
      <ul>
        <li><small>Hello <%= user.username %></small></li>
        <li><a href="/log-out">Log out</a></li>
        <li><a href="/messages/admin">dashboard</a></li>
      </ul>
      <% } else if (user) { %>
      <ul>
        <li><small>Hello <%= user.username %></small></li>
        <li><a href="/log-out">Log out</a></li>
      </ul>
      <% } else { %>
      <ul>
        <li><a href="/users/login">Log in</a></li>
        <li><a href="/users/signup">Sign up!</a></li>
      </ul>
      <% } %>
    </nav>
    <main class="container">
      <!-- <% %> - No output tag
      <%= %> - Outputs HTML value
      <%- %> - Outputs unescaped -->
      <!-- <% if (user) { %>
    <% } else { %>
    <% } %> -->
      <% if (pageContent === 'messageboard') {%> 
        <%- include('messageboard') %>
      <% } else if (pageContent === 'login') {%> 
        <%- include('login') %> 
        <% } else if (pageContent === 'signup') {%> 
        <%- include('create_user_form') %>
      <% } else if (pageContent === 'createMessage') {%> 
        <%- include('create_message_form') %> 
      <% } else if (pageContent === 'userCreateSuccess') {%> 
        <%- include('user_create_success') %> 
      <% } else if (pageContent === 'messageCreateSuccess') {%> 
        <%- include('message_create_success') %> 
      <% } else if (pageContent === 'dashboard') {%> 
        <%- include('dashboard') %> 
      <% } else if (pageContent === 'error') {%> 
        <%- include('error') %> 
      <% } %>
    </main>
    <dialog open>
      <article>
        <header>
          <button aria-label="Close" rel="prev"></button>
          <p>
            <strong>Are you sure you want to delete this message?</strong>
          </p>
        </header>
        <h3>Message title</h3>
        <p>Message Content</p>
        <footer>
            <button>Confirm</button>
        </footer>
      </article>
    </dialog>
  </body>
</html>
