<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mockup</title>
    <link rel="stylesheet" href="/stylesheets/pico.min.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <h3>
            <a href="/messages"><strong>MessageBoard</strong></a>
          </h3>
        </li>
      </ul>
      <% if (user) { %>
      <ul>
        <li><small>Hello <%= user.username %></small></li>
        <li><a href="/log-out">Log out</a></li>
      </ul>
      <% } else { %>
      <ul>
        <li><a href="/users/login">Log in</a></li>
        <li><a href="/users/signup">Sign up!</a></li>
      </ul>
      <% } %>
    </nav>
    <main class="container">
      <!-- <% %> - No output tag
      <%= %> - Outputs HTML value
      <%- %> - Outputs unescaped -->
      <!-- <% if (user) { %>
    <% } else { %>
    <% } %> -->
      <% if (pageContent === 'messageboard') {%> <%- include('messageboard') %>
      <% } else if (pageContent === 'login') {%> <%- include('login') %> <% }
      else if (pageContent === 'signup') {%> <%- include('create_user_form') %>
      <% } else if (pageContent === 'createMessage') {%> <%-
      include('create_message_form') %> <% } %>
    </main>
  </body>
</html>
