<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mockup</title>
    <link rel="stylesheet" href="/stylesheets/pico.min.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <h3>
            <a href="/messages"><strong>MessageBoard</strong></a>
          </h3>
        </li>
      </ul>
      <ul>
        <li><a href="/users/login">login</a></li>
        <li><a href="/users/signup">signup!</a></li>
      </ul>
    </nav>
    <main class="container">
      <!-- <% %> - No output tag
      <%= %> - Outputs HTML value
      <%- %> - Outputs unescaped -->
      <% if (content === 'messageboard') {%>
        <%- include('messageboard') %>
      <% } else if (content === 'login') {%>
        <%- include('login') %>
      <% } else if (content === 'signup') {%>
        <%- include('create_user_form') %>
      <% } else if (content === 'createMessage') {%>
        <%- include('create_message_form') %>
      <% } %>

    </main>
  </body>
</html>
