<div>
  <section>
  <div class="flex-container">
    <% if (user) { %>
    <a href="/messages/create" role="button">Post a message</a>
    <% } else { %>
    <a href="/users/login" role="button">Login to post</a>
    <% } %> 
  </div>
  </section>
  <section>
    <% if (typeof messages === 'undefined' || messages.length === 0) {
    %>
    <h2>No messages to display</h2>
    <% } else { %> <% messages.forEach(function(message) { %>
    <article style="position: relative">
      <hgroup>
        <h3><%= decodeHTML(message.title) %></h3>
        <p class="pico-color-pink-500"><%= decodeHTML(message.content) %></p>
      </hgroup>
      <div style="display: grid; grid-template-columns: auto 1fr auto">
        <div style="display: inline-block">
          <cite><%= decodeHTML(message.user.username) %></cite>
        </div>
        <div style="display: inline-block"></div>
        <div style="display: inline-block">
          <%= decodeHTML(message.formatted_timestamp) %>
        </div>
      </div>
      <%  if(user && user.username === message.user.username){ %>
      <!-- <a href="/messages/delete/<%= message.id %>"> -->
        <a onclick="toggleModal(event)" data-target="modal" data-id="<%= message.id %>">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          style="
            position: absolute;
            top: 14px;
            right: 11px;
            width: 24px;
            height: 24px;
          "
        >
          <path
            d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
          />
        </svg>
      </a>
      <% } %>
    </article>
    <% }); %> <% } %>
  </section>
</div>
